body {
    background-color: darkgrey;
}

div.container {
    width: 780px;
    min-height: 500px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

.container header{
    min-height: 100px;
}

.container header > img{
    display: block;
    max-width: 780px;
}

div.nav {
    text-align: right;
    margin: 0  1rem 0 0;
}

div.bottom {
    margin-bottom: .3rem;
    text-align: right;
}

div.nav a {
    color: black;
    text-transform: uppercase;
    font-size: 8pt;
    margin: 0 5px;
    padding: 3px;
    text-decoration: none;
}

div.nav span a:hover {
    text-decoration: underline;
}

.nav span:after {
    content: " |";
    font-size: 10pt;
}

.bottom span:after {
    font-size: 7pt;
}

.nav span:last-of-type:after {
    content: "";
}

.nav a img{
    vertical-align: middle;
}

section.guts {
    min-height: 510px;
    margin: 0 1rem 5rem 0;
    background-color: white;
    border-radius: 20px;
}

div.middle section.guts aside.nav{
    float: left;
    width: 215px;
    min-height: 618px;
    margin: -25px 0 0 0;
    background-color: #ebebeb;
    border-right: 1px solid darkolivegreen;
    padding-top: 20px;
}

aside.nav a{
    display: block;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 8pt;
    padding: 10px 0 10px 10px;
    border-bottom: 1px solid darkolivegreen;
    margin: 0 15px 0 15px;
}

aside.nav a:hover{
    background-color: darkolivegreen;
    color:white;
    text-decoration: underline;
}

aside.nav div.nav-img-links {
    margin-top: 13rem;
}

aside.nav div.nav-img-links a {
    border-bottom: unset;
}

aside.nav div.nav-img-links a:hover {
    background-color: unset;
}

div.middle section.guts article.main{
    float: right;
    width: 500px;
    min-height: 430px;
    background-color: #FFF;
    padding: .5rem;
    margin-top: 10px;
}

.article-img {
    float: right;
    display: flex;
    gap: 1rem;
    /*border: 1px solid black;*/
    width: 165px;
    padding: 0 15px 10px 15px;
}

.article-img aside {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-img img{
    width: 100%;
}

.article-img a{
    margin-top: 10px;
}

article.main h1{
    color: darkred;
    font-weight: bolder;
    font-size: 14pt;
    padding-bottom: 3px;
    text-transform: uppercase;
    margin-bottom: .5rem;
}

article.main div.content {
    font-size: 8pt;
}


div.content p {
    margin-top: 0;
    font-size: 9pt;
    text-align: justify;
}

article.main a {
    text-decoration: none;
    font-weight: bold;
    display: flex;
    text-align: right;
    font-size: 8pt;
    text-transform: uppercase;
    color: darkred;
    letter-spacing: 1px;
}

article.main a:hover {
    text-decoration: underline;
}

div.bottom a {
    text-transform: lowercase;
    font-size: 7pt;
}

footer {
    background-color: darkolivegreen;
    color: white;
    font-size: 9px;
    text-align: center;
    padding: 5px 0;
}